
    <table class="users">
        <tr>
            <th>#</th>
            <th>email</th>
            <th></th>
            <th>full name</th>
            <th></th>
        </tr>
        <% data.forEach((item, index) => { %>
        <tr>
            <td><%= ++index %></td>
            <td class="email"><%=item.email %></td>
            <td>
                <a href="/v1/users/update/<%=item._id%>">update</a>
            </td>
            <td><%=item.fullName%></td>
            <td>
                <form action="/v1/users/delete" method="POST">
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                    <input type="hidden" name="id" value="<%=item._id%>">
                    <button onclick="confirm('Are you sure?');">delete</button>
                </form>
            </td>
        </tr>
        <%  }); %>
    </table>
